In [2]:
import pandas as pd

In [3]:
dane = {
    "klucz" : [1, 3, 4, 5, 6],
    "wartość" : [2, 4, 6, 12, 14]}
df = pd.DataFrame(dane)
df

   klucz  wartość
0      1        2
1      3        4
2      4        6
3      5       12
4      6       14

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   klucz    5 non-null      int64
 1   wartość  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [5]:
df.to_csv("plik_2.csv")
bledy = df.isnull().sum()
print(bledy)

klucz      0
wartość    0
dtype: int64

In [6]:
if bledy.bool:
    print(df)
else:
    print("Są błędy !!!")

   klucz  wartość
0      1        2
1      3        4
2      4        6
3      5       12
4      6       14

In [7]:
df.describe()

          klucz    wartość
count  5.000000   5.000000
mean   3.800000   7.600000
std    1.923538   5.176872
min    1.000000   2.000000
25%    3.000000   4.000000
50%    4.000000   6.000000
75%    5.000000  12.000000
max    6.000000  14.000000

1.9235384061671346