In [24]:
import pandas as pd

In [25]:
dane = {
    "klucz" : [1, 3, 4, 5, 6],
    "wartość" : [2, 4, 6, 12, 14]}
df = pd.DataFrame(dane)
df

   klucz  wartość
0      1        2
1      3        4
2      4        6
3      5       12
4      6       14

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   klucz    5 non-null      int64
 1   wartość  5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes

In [27]:
df.to_csv("plik_2.csv")